
.container {
	margin: 0 auto;
	background-color: #efefef;
	display: flex;
	flex-direction: row;
}

.box {
	background-color: #8ea86e;
	color: white;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
}